.answer {
  display: flex;
  height: 100px;
  margin: 10px;
  min-width: 500px;
  perspective: 1000px;
  width: 80%;
}

.content{
  display: flex;
  flex: 1;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front, .back{
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front{
  align-items: center;
  background: #fff;
  border-radius: 12px;
  color: #000;
  padding: 15px 15px;
}

.back { transform: rotateY(180deg); }

.back > div{
  align-items: center;
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.back .right{ background: #2baa6d; }
.back .wrong{ background: #e44a4c; }

.right, .wrong{
  .value { font-size: 1.5rem; }
}

.content.visibleAnswer { transform: rotateY(180deg); }

.option {
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 1.3rem;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  margin-right: 15px;
  width: 40px;
}

.value {
  font-size: 1.3rem;
  font-weight: 700;
}