* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #6c54d8;
}

a {
  color: inherit;
  text-decoration: none;
}